<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <a href="/"><div id="homebutt"><p>HOME</p></div></a>
        <div id="wrap">
            <a href="/help"><img id="logo" src="../static/images/logo.png" alt="logo"></a>
            <br><br>
            {% for channel in data %}
                {% set chname = channel.split(':')[0] %}
                <a class="blue" href="/info/{{ chname }}">@{{ chname }}</a><br><br>
            {% endfor %}
        </div>
        <div id="footercop">
            <p>by <a class="blue" href="https://telegram.me/sashaledockol">@sashaledockol</a></p>
        </div>
    </body>
</html>
