<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="" href="{{ url_for('static', filename='style.css') }}">
        <style>
	    #wrap { 
		width: 65%;
		margin-left: 17.5%;
	    }
	</style>
    </head>
    <body>
        <a href="/"><div id="homebutt"><p>HOME</p></div></a>
        <div id="wrap">
            <a href="/help"><img id="logo" src="../static/images/logo.png" alt="logo"></a>
            <br><br>
	    {% for count in range(1,charts+1) %}
	        <embed type="image/svg+xml" src='../static/{{count}}.svg?dummy={{ rands[count-1] }}' style='width:100%'/>
            {% endfor %}
	</div>
        <div id="footercop">
            <p>by <a class="blue" href="https://telegram.me/sashaledockol">@sashaledockol</a></p>
        </div>
    </body>
</html>
